body {
    background-color: #fdfdff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

tbody, td, tfoot, th, thead, tr {
    vertical-align: middle;
}

.table>thead {
    color: #fff;
    background-color: #3677af;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
    border-bottom-width: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgba(170, 174, 199, .15);
}

.response-table {
    --border: 1px solid rgba(170, 174, 199, .15);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

