body {
    background-color: #fdfdff;
    color: #2a3038;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

tbody, td, tfoot, th, thead, tr {
    vertical-align: middle;
}

.table>thead {
    color: #fff;
    background-color: #3677af;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
    border-bottom-width: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgba(170, 174, 199, .15);
}

.response-table {
    --border: 1px solid rgba(170, 174, 199, .15);
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

.bg-nav {
    /*background-color: #3677af;*/
    background-image: linear-gradient(90deg, #4c9de3, #635eb0, #3677af);
    box-shadow: 0px 5px 24px rgba(67, 105, 162, 0.60), 0px 0px 1px rgba(68, 67, 162, 0.60);
}

.btn-primary {
    color: #fff;
    background-color: #3677af;
    border-color: #3677af;
}

.btn-primary:hover {
    background-color: #245c8d;
    border-color: #245c8d;
}

.btn-outline-primary {
    color: #3677af;
    border-color: #3677af;
}

.btn-outline-primary:hover {
    background-color: #3677af;
    border-color: #3677af;
}

.operation {
    height: 60px;
    border-radius: 6px;
    background-color: #e9f1fb;
    margin-bottom: 1rem;
    transition: background-color .2s ease-in-out;
}

.operation:hover {
    background-color: #d1e3f9;
}

.operation a {
    display: block;
    padding: 18px;
}
