<!doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" sizes="32x32" th:href="@{img/favicon_32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{img/favicon_16x16.png}" type="image/png">
    <title>АБДМ</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{css/normalize.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="mt-2">
        <h2><b>GetIssoInfo:</b> Получение информации по ИССО по его Id</h2>
    </div>
    <div class="mt-5">
        <a href="/">Главная страница</a>
    </div>
    <div class="mt-5">
        <form th:action="@{/getIssoInfo}" th:object="${issoInfo}" method="post">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="cIsso">id ИССО</label>
                    <input class="form-control" id="cIsso" required type="number" placeholder="введите id" th:field="*{cIssoField}">
                    <button class="btn btn-primary mt-3" type="submit">Отправить запрос</button>
                </div>
            </div>
            <div class="row">
                <p th:text="${issoInfo.cIssoField}"></p>
            </div>
        </form>
    </div>
</div>
<script>
    function init() {
        document.getElementById("cIsso").value = "";
    }
    window.onload = init;
</script>
</body>
</html>