<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" sizes="32x32" th:href="@{img/favicon_32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{img/favicon_16x16.png}" type="image/png">
    <title>АБДМ</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{css/normalize.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-dark bg-nav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <b>АБДМ ФДА</b>
        </a>
    </div>
</nav>
<div class="container">
    <div class="mt-4">
        <h2>Клиент веб-сервиса АБДМ</h2>
        <br>
        <h3>Выбор метода сервиса (операции)</h3>
    </div>
    <div class="mt-5">
        <div class="operation"><a href="/getIssoInfo"><b>GetIssoInfo:</b> Получение информации по ИССО по его Id</a></div>
        <div class="operation"><a href="/getIssoList"><b>GetIssoInfoList:</b> Получить список ИССО по ID-АБДМ дороги, ФКУ и региона</a>
        </div>
    </div>
</div>
</body>
</html>